<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<nav>
    <div class="nav-wrapper=black">
        <a href="#!" class="brand-logo">Peaky Blinders</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sobre nós</a></li>
            <li><a href="badges.html">Historia</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Região<i
                        class="material-icons right">minas Gerais</i></a></li>

        </ul>
    </div>
</nav>